.answerContainer {
    border: 1px solid #D7DEDA;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 800px;
    background: #FFF;
    padding: 10px 10px 10px 10px;
    font-family: Arial;
    font-size: 14px;
}

.meta {
    font-size: 13px;
    color: #797474;
}

.answer {
    margin: 20px 0 20px 0;
    font-size: 14px;
}