/* .answerPostDisplay {
    position: fixed;
    top: -40px;
    left: 0px;
    z-index: 1200;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
}

.answerPostHidden {
    display: hidden;
}

.answerContainer {
    color: #fff;
} */

.answerPostTextArea {
    margin-bottom: 10px;
}

.custom {
    float: right;
}
