.mainContainer {
    padding-top: 60px;
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    text-align: center;
}

.header {
    width: 800px;
    margin: 20px auto;
    color: rgb(92, 133, 179);
}

.formContainer {
    width: 800px;
    height: 500px;
    margin: 0 auto;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #f3f6f9;
    border-radius: 3px;
}

.field {
    width: 80%;
    height: 40px;
    border: 1px solid #D7DEDA;
    border-radius: 3px;
    font-size: 14px;
    padding-left: 10px;
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.field:focus {
    outline: none;
    border-color: #0366D6;
}

.textArea {
    max-width: 80%;
    max-height: 280px;
    width: 80%;
    height: 150px;
    border: 1px solid #D7DEDA;
    border-radius: 3px;
    font-size: 14px;
    padding: 10px 10px;
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    resize: vertical;
}

.textArea:focus {
    outline: none;
    border-color: #0366D6;
}

.submitBtn {
    width: 80%;
    height: 45px;
    border: 1px solid #D7DEDA;
    border-radius: 3px;
    background: #0366D6;
    color: #fff;
    font-size: 15px;
    margin-right: 10px;
    transition: background-color .5s;
    display: block;
    margin: 0 auto;
}

.submitBtn:hover {
    background: #104b8e;
    cursor: pointer;
}

.cancelBtn {
    width: 200px;
    display: inline-block;
    margin-top: 10px;
    text-decoration: underline;
    font-size: 15px;
    cursor: pointer;
}