body {
    padding: 0;
    margin: 0;
    background: rgb(250, 252, 255);
    /* background: #fff; */
}

.headerContainer {
    position: fixed;
    width: 100%;
    top:0;
    height: 50px;
    text-decoration: none;
    margin-bottom: 100px;
    border-bottom: 1px solid #D7DEDA;
    /* -webkit-box-shadow: 0px 0px 4px 1px #0366D6;
    -moz-box-shadow: 0px 0px 4px 1px #0366D6;
    box-shadow: 0px 0px 4px 1px #0366D6; */
    background: #fff;
    /*background: #0366D6;*/
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 13px;
}

.linkContainer {
    padding-left: 10px;
    width: 800px;
    min-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.links {
    display: inline;
    position: relative;
}

.links div{
    display: inline-block;
}

.links a {
    color: #0366D6;
    margin-right: 17px;
    transition: color .5s;
}

.links a:hover {
    color: #1F457D;
}

.links div {
    display: inline;
    position: absolute;
    top:50%;
}

.headerContainer a {
    text-decoration: none;
}







