body {
    padding: 0;
    margin: 0;
    background: #F5F9FF;
    /*background: #fff;*/
}

.headerContainer {
    position: fixed;
    width: 100%;
    top:0;
    height: 50px;
    text-decoration: none;
    margin-bottom: 100px;
    border-bottom: 1px solid #0366D6;
    -webkit-box-shadow: 0px 0px 4px 1px #0366D6;
    -moz-box-shadow: 0px 0px 4px 1px #0366D6;
    box-shadow: 0px 0px 4px 1px #0366D6;
    background: #fff;
    /*background: #0366D6;*/
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.linkContainer {
    width: 75%;
    margin: 0 auto;
}

/*.linkContainer div {
    display: inline-block;
    height: 50px;
}*/

.links {
    display: inline;
    position: relative;
}

.links a {
    color: #0366D6;
    margin-right: 17px;
    transition: color .5s;
}

.links a:hover {
    color: #1F457D;
}

.links div {
    display: inline;
    position: absolute;
    top:50%;
}

.access {
    float: right;
}

.access div {
    display: inline;
}

.headerContainer a {
    text-decoration: none;
}

.signin {
    /*border: 1px solid #28AF67;*/
    border-radius: 3px;
    padding: 8px;
    text-align: center;
}

.access a {
    margin-right: 10px;
}

.signin a {
    color: #28AF67;
    margin: auto 0;
}

.signup a {
    border: 1px solid #28AF67;
    border-radius: 3px;
    padding: 8px;
    margin-left: 5px;
    text-align: center;
    transition: color,background-color;
    transition-duration: .5s;
    cursor: pointer;
    color: #28AF67;
}

.signup a:hover{
    background: #28AF67;
    color: #fff;
}


.newPost {
    cursor: pointer;
    color: #fff;
    padding: 8px;
}

.newPost a {
    color: #1F457D;
    transition: color .25s;
}

.newPost a:hover {
    color: #28AF67;
}


