.navbar {
    text-decoration: none;
    list-style: none;
    margin:0;
    padding: 0;
}

.navbar li {
    float: left;
}

.signin {
    border-radius: 3px;
    padding: 8px 0;
    text-align: center;
}

.signin a {
    color: #03a87c;
    margin: auto 0;
}

.signup {
    border-radius: 3px;
    padding: 8px 0;
    text-align: center;
}

.signup a {
    border: 1px solid #03a87c;
    border-radius: 3px;
    padding: 8px;
    margin-left: 5px;
    text-align: center;
    transition: color,background-color;
    transition-duration: .5s;
    cursor: pointer;
    color: #03a87c;
}

.signup a:hover{
    background: #03a87c;
    color: #fff;
}

/************************/

.askQuestion {
    cursor: pointer;
    color: #fff;
    padding: 8px;
    font-size: 12px;
}

.askQuestion a {
    border: 1px solid #0366D6;
    border-radius: 2px;
    padding: 5px;
    background: #0366D6;
    color: #fff;
    transition: background-color .25s;
}

.askQuestion a:hover {
    background: #1F457D;
}


/*********************/
.userSettingIcon {
    color: #547294;
    cursor: pointer;
    position: relative;
    margin-top: 4px;
}

.userSettingDropdownListShow{
    display: block;
}

.userSettingDropdownListHide {
    display: none;
}

.userSettingDropdownList {
    margin-top: 5px;
    position: absolute;
    z-index: 1;
    right: 0;
    background: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 12px;
    border: 1px solid rgba(27,31,35,0.15);
    border-radius: 3px;
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.userSettingDropdownList a {
    display: block;
    text-decoration: none;
    padding: 10px 6px;
    width: 210px;
    padding-left: 15px;
}

.userSettingDropdownList a:hover {
    background: #365899;
    color: #fff;
}
