.postsContainer {
    border: 1px solid #D7DEDA;
    margin-bottom: 10px;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.metaContainer {
    margin: 5px 10px 0 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #D7DEDA;
}

.username {
    color: #2857AF;
    font-weight: bold;
}

.postContainer {
    /*border: 1px solid #D7DEDA;*/
    width: 775px;
    margin: 0 10px 3px 9px;
    padding: 10px 0;
    color: #172631;
    font-weight: bold;
}

.upvoteContainer {
    padding: 10px;
}

.meta {
    border: 1px solid #2b6dad;
    border-radius: 2px;
    color: #2b6dad;
    background: #f1f8fb;
    padding: 4px;
    font-size: 12px;
    margin-right: 5px;
}

.metaAction {
    color: #999;
    margin-left: 5px;
    margin-right: 2px;
    font-size: 12px;
}

.metaAction:hover {
    text-decoration: underline;
}

.topRightCorner {
    float: right;
    color: #9DA09E;
}

.topRightCorner span {
    margin-left: 10px;
}

