.postsContainer {
    border: 1px solid #D7DEDA;
    margin-bottom: 10px;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    font-size: 12px;
}

.metaContainer {
    /* margin: 5px 10px 0 10px;     */
    background: #f5f9fb;
    padding: 5px;
    border-bottom: 1px solid #d4d4d5;
}

.username {
    color: #8796b3;
    font-weight: bold;
}

.postContainer {
    /*border: 1px solid #D7DEDA;*/
    width: 775px;
    margin: 0 10px 3px 9px;
    padding: 10px 0;
    color: #0a59a7;
    font-size: 15px;
    font-weight: bold;
}

.postContainer:hover {
    color: #8796b3;
}

.upvoteContainer {
    padding: 10px;
}

.meta {
    border: 1px solid #f1f8fb;
    border-radius: 2px;
    color: #2b6dad;
    background: #f1f8fb;
    padding: 2px;
    font-size: 12px;
    margin-right: 5px;
    display: inline-block;
    min-width: 60px;
    text-align: center;
}

.metaAction {
    color: #999;
    margin-left: 5px;
    margin-right: 2px;
    font-size: 12px;
    cursor: pointer;
}

.metaAction:hover {
    text-decoration: underline;
}

.topRightCorner {
    float: right;
    color: #9DA09E;
}

.topRightCorner span {
    margin-left: 10px;
}

