.postThreadContainer {
    position: fixed;
    top: 50px;
    width: 100%;
    height: 100%;
}

.postDetailContainer {
    height: auto;
    width: 800px;
    border: 1px solid #D7DEDA;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    margin-bottom: 20px;
    background:white;
    padding: 10px 10px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.question {
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #154286;
}

.answer {
    border: 1px solid #D7DEDA;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    width: 800px;
    background: #FFF;
    padding: 10px 10px 10px 10px;
    font-family: Arial;
}

.postThreadActionContainer {
    width: 820px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}

.answerQuestionButton {
    background: #0366D6;
    border: 1px solid #0366D6;
    border-radius: 2px;
    color: #FFF;
    font-size: 14px;
    width: 200px;
    height: 150px;
    height: 40px;
    cursor: pointer;
}