body {
    background: #FFF;
}

.mainContainer {
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.field {
    width: 400px;
    height: 40px;
    border: 1px solid #D7DEDA;
    border-radius: 3px;
    font-size: 15px;
}

.submitBtn {
    width: 160px;
    height: 50px;
    border: 1px solid #D7DEDA;
    border-radius: 3px;
    background: #0366D6;
    color: #fff;
    font-size: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.submitBtn:hover {
    cursor: pointer;
    background: #104b8e;
}

.cancelBtn {
    width: 160px;
    height: 50px;
    border: 1px solid #D7DEDA;
    border-radius: 3px;
    background: #fff;
    font-size: 15px;
    margin-bottom: 10px;
}

.cancelBtn:hover {
    cursor: pointer;
}

.error {
    color:red;
}