body {
    background: #FFF;
}

.mainContainer {
    margin-top: 150px;
    font-family: Arial, Helvetica, sans-serif;
}

.mainContainer div {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
}

.field {
    width: 400px;
    height: 40px;
    border: 1px solid #D7DEDA;
    border-radius: 3px;
    font-size: 15px;
    padding: 3px 10px;
    font-size: 14px;
}

.field:focus {
    outline: none;
    border-color: #0366D6;
}

.submitBtn {
    width: 420px;
    height: 50px;
    border: 1px solid #D7DEDA;
    border-radius: 3px;
    background: #0366D6;
    color: #fff;
    font-size: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: background-color;
    transition-duration: 1s;
}

.submitBtn:hover {
    cursor: pointer;
    background: #104b8e;
}

.cancelBtn {
    width: 160px;
    height: 50px;
    border: 1px solid #D7DEDA;
    border-radius: 3px;
    background: #fff;
    font-size: 15px;
    margin-bottom: 10px;
}

.cancelBtn:hover {
    cursor: pointer;
}

.error {
    color: #d47d7d;
    margin-top: 5px;
    font-size: 13px;
}

.label {
    text-align: left;
    float: left;
}