.modalwrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 1000;
    left: 0;
    top: 0;
}

.modalContent {
    background-color: #fefefe;
    margin: 100px auto;
    padding: 20px;
    height: 500px;
    width: 700px;
    border-radius: 3px;
    border: 1px solid #888;
}